:root {
  --primary-bg: #97D66B;
  --secondary-bg: #F8F8F8;
  --top-bar-heading:#555555;
  --logo-heading:#000000;
  --nav-menu-heading:#444444;
  --title-heading:#222222;
  --content:#6666;
  --light-green:#0FBE7C;
  --footer-bg:#333333;
  --footer-heading:#D5D5D5;
  --font-family:'Lato', 'sans-serif';
  --green:#0FBE7C;
 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--font-family);
}
a{
  text-decoration: none;
  color: var(--nav-menu-heading);
  font-family: var(--font-family);
  transition: all 0.3s;
}
a:hover{
 
  color: var(--light-green) !important;
  
}
#dropdown:hover {
  color: var(--light-green) !important;
  cursor: pointer;
}
#dropdown:hover ul{
  display: block !important;
}
#dropdown{
  color: var(--nav-menu-heading);
  transition: all 0.3s;
}
#dropdown ul {
  border-top: 1px solid var(--light-green);
  width:140px;
  background-color: var(--secondary-bg);
}
#dropdown ul li{
 color: var(--nav-menu-heading);
 font-size: 14px;
 background-color: red;
 border-bottom: 1px solid #EAEAEA;
 background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
 transition: all 0.3s;
}
#dropdown ul li:hover{
 color: var(--green);
}
.active_pge{
  color: var(--green) !important;
}
.active{
  background-color: #0FBE7C;
}
.carousel-item img{
  height: 100% !important;
  object-fit: cover !important;
  object-position: center !important;
}
body{
  background-color: var(--primary-bg) !important;
}
.spinner{
      box-sizing: content-box;
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2.44px solid #695b50;
    border-top-color: transparent;
    border-radius: 50%;
    animation: ldio-xzmxx4y9ba8 0.78125s linear infinite;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 @keyframes ldio-xzmxx4y9ba8 {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }

        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }

#msg{
  display: none ;
}

.green{
  background-color: var(--light-green);
  color: #FFFFFF;
}
.danger{
  background-color: rgb(238, 97, 97);
  color: #FFFFFF;
}
.required{
  color: red;
  margin-left: 5px;
  font-weight: 900;
}
.btn-primary{
        background-color: #eee !important;
    border: 1px solid #ddd !important;
    color: #333 !important;
    font-size: 1em !important;
    padding: 10px 15px !important;
    position: relative !important;
    width: 100px;
    
}
.mt-100 {
    margin-top: 100px
}

.carousel .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    text-indent: -99px;
    cursor: pointer;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 2px
}
/* Container  */
#main_container{
  background-color:white;
}

#top_header p{
      font-size: 12px;
    color: #555555;
    margin-bottom: 0;
}
#top_header i{
      font-size: 20px;
}
#banner_container{
  width: 100%;
}
#banner_container img{
  width: 100%;
  height: 100%;
}
/* Bottom header  */
#bottom_header div:nth-child(1) img{
 width: 93px;
 height: 93px;
}
#bottom_header h1{
     font-size: 30px;
    line-height: 36px;
    font-weight: normal;
    color: var(--title-heading);
}
#bottom_header div:nth-child(3) img{
 max-width: 100%;
 height: auto;
}
.slider_buttons button{
      background-color: #0FBE7C;
    color: #FFFFFF;
  border: none;
  padding: 8px 18px;
    font-family: 'Lato', sans-serif;
}
.slider_buttons {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slider_buttons div{
      background-color: rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
 padding: 0px 16px;
 width: 200px;
 font-size: 12px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 70px;
    font-family: 'Lato', sans-serif;
}
.scroll_table::-webkit-scrollbar {
  display: none;
}
tr,td,th{
  border: 1px solid #EAEAEA !important;
}
/* Navbar  */
#navbar ul {
  list-style: none !important;
}
/* Mobile MEnu  */
#mobile_menu{
height: 0;
  
  transition: all 0.5s;
  overflow: hidden;
}
.menu_active{
  height: 320px !important;
}
#mobile_menu ul li{
  color: var(--nav-menu-heading);
  transition: all 0.3s;
  cursor:pointer;
}
#mobile_menu ul li:hover{
  color: var(--green);
}
.navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=333333');
  font-size: 12px;
  cursor: pointer;
}

/* Slider  */
#slider img{
  width: 100%;
  max-height:400px ;
  object-fit: cover;
}
#slider div:nth-child(1)
{
   border-bottom: 1px solid #444444;
   border-top: 1px solid ;
}








/* Home */
#home_container .img_container{
  width: 100%;

}
#home_container .img_container img{
  max-width: 290px;
  min-width: 220px;
}
#home_container h5{
  color: var(--secondary-bg-black);
  font-family: var(--font-family);
  
}
#home_container p{
  color: #666666;
  font-family: var(--font-family);
  
}
#trial_header {
  border-left: 3px solid var(--green);
}
#trial_header div{
  background-color: #F8F8F8;
}
#trial_header div:nth-child(2) button{
      background-color: var(--light-green);
    max-width: 90%;
    min-width: 208px;
    height: 45px;
    border: none;
    transition: all 0.3s;
    color: white;
}
#trial_header div:nth-child(2) button:hover{
background-color: #06965f !important
}
p{
      color: #666666;
    font-family: var(--font-family);
}
.reviews {
border-top: 2px solid var(--green);

}

.how_to img{
  max-width: 200px;
  min-width: 50px;
}

/* About  */

#info_header{
  background-color: #FFFFFF;
  border-bottom: 1px solid #EAEAEA;
  border-top: 1px solid #EAEAEA;
}
#info_header h5{
  font-family: var(--font-family);
}

/* Courses */
#course_container img{
 width: 100%;
}

#course_container .img_container {
   max-width: 290px;
  min-width: 20px;
}

/* Fee Structure  */

#fee_structure img{
 width: 100%;
}

#fee_structure .img_container {
   max-width: 290px;
  min-width: 20px;
}













/* Footer  */
#footer h5{
  border-bottom: 3px solid #0FBE7C;
  padding-bottom: 5px;
  display: inline-block;
}
#footer  p{
    color: #D5D5D5 !important;
  font-size: 14px;
  border-bottom: 1px solid #444444;
  font-family: var(--font-family);
  padding-bottom: 5px;
  margin-top: 10px;
}
#footer div:nth-child(5) p{
  border: none !important;
  color: var(--nav-menu-heading) !important;
}
#footer div{
  color: var(--footer-heading);
  background-color: var(--footer-bg);
  font-family: var(--font-family);
}
#footer div:nth-child(5){
  background-color: var(--fc-primary);
}
#footer div:nth-child(6){
  background-color: var(--fc-primary) !important;
}
#footer div:nth-child(6) ul li{
 color: var(--footer-bg) !important;
}
#main_container{
  margin-bottom: 23px !important;
}